.customer-form {
  .mat-form-field {
    margin-top: 16px;
    width: 20rem !important;
  }

  .month-picker {
    .mat-calendar-period-button {
      pointer-events: none;
    }

    .mat-calendar-arrow {
      display: none;
    }
  }
}
